* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  filter: drop-shadow(4px 4px 2px black);
}
header {
  font-family: 'Shadows Into Light', cursive;
}
.title {
  font-family: 'Shadows Into Light';
  font-size: '50px';
  font-weight: bold;
  text-shadow: '2px 2px #830207';
  color: #fbde53;
  display: inline-block;
  transition: 0.5s all ease-in-out;
  filter: drop-shadow(4px 4px 2px black);
}
.contactSingleContainer {
  border: 2px solid #3cbd4b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socjalBadges {
  cursor: pointer;
}
footer {
  margin-top: 20px;
  border-top: 1px double #4ac547;
}
.shadow {
  filter: drop-shadow(4px 4px 2px black);
}
.textShadow {
  text-shadow: 4px 4px 2px black;
}
.carousel-indicators [data-bs-target] {
  background-color: #3cbd4b !important;
}
